.caixa {
    background-color: #feffff;
}

.titulo {
    color: rgb(9, 1, 1) !important;
    font-weight: "bold";
}

.botao {
    border-color: rgb(145, 7, 124) !important; 
    background-color: #870191;
    color: rgb(0, 0, 0) !important;    
}

.postagens {
    background-color: rgb(255, 255, 255);
}